.story {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  // padding: 0 7.2%;

  img {
    display: block;
    width: 100%;
    margin: auto;
  }
}

#case_study_hero {
  margin: default;
}

.full-width {
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
}

